<html>

<head>
	<p>
		<font size="1" color="black"><a href="http://t.me/TNEGABSU" target="_blank">@TNEGABSU</a></font>
	</p>
	<% include ./index.css.ejs %>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<title>Jata Test</title>
</head>

<body>
	<div class="contain">

			<% if(locals.assigned){ %>
				assigned
			  <% } else{ %>  
				not
			 <% } %>

			 <a href="/login">Login</a>
	</div>
</body>

</html>