<html>

<head>
	<p>
		<font size="1" color="black"><a href="http://t.me/TNEGABSU" target="_blank">@TNEGABSU</a></font>
    </p>
    <% include ./index.css.ejs %>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<title>Jata Test</title>
</head>

<body>
	<div class="contain">

			<% if(locals.message){ %>
				<%= message %>
			  <% } else{ %>  
                <form action="/signup" method="POST">
                    <input name="id" type="text" placeholder="UserID" required="required">
                    <input name="password" type="password" placeholder="Password" required="required">
                    <button type="submit">Sign me up!</button>
                </form>
			 <% } %>
	</div>
</body>

</html>